---
layout: 'base.njk'
---
    <div class="discript">
        <div class="descript-container-description">
            <img src="{{image}}"  class="descript-img">
            <div class="spacer"></div>
            <div class="description">
                <p class="descript-text">
                    {{content | safe}}
                </p>
                <a href="public/description/index.html"><button class="enquire-btn">Enquire</button></a>
            </div>
        </div>
    </div>    