<div class="navbar">
    <div class="nav-container">
        <img src="https://ullasincense.co.in/images/ullas%20logo.png" class="nav-logo">
        <div class="spacer"></div>
        <div class="link-div">
            <a href="https://ullasincense.co.in/index.html" class="nav-link">Home</a>
            <a href="https://ullasincense.co.in/about%20-us.html" class="nav-link">About Us</a>
            <a href="https://ullasincense.co.in/ullas_main.htm" class="nav-link">Products</a>
            <a href="https://ullasincense.co.in/ullas-agarbathi-ads.html" class="nav-link">Events</a>
            <a href="index.html" class="nav-link">Exports</a>
            <a href="https://ullasincense.co.in/ullas-contact-us.html" class="nav-link">Contact</a>
        </div>
    </div>
</div>
